* {
  font-family: "Product Sans";
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.all {
  height: 100vh;
  background-image: linear-gradient(to right top, #04297a, #45319a, #7a34b5, #b12eca, #eb12d8);
  background-position: center;
  background-size: cover;
  display: flex;
}
section {
  margin: auto;
  display: grid;
  text-align: center;
  background-color: white;
  padding: 2vw;
  width: 50vmin;
  border-radius: 20px;
  overflow: hidden;
  height: 0;
  width: 0;
  opacity: 0;
  transition: height 1s ease-in, opacity 2s ease;
}

.loadCard {
  height: 50vh;
  width: 50vmin;
  opacity: 1;
}
.elements {
  margin: auto;
  width: inherit;
}
h1,
span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(circle, #eb12d8, #c030da, #933dd8, #6143d1, #0b45c6);
}

img {
  width: 0;
  height: 50px;
  margin: 6px 0;
  vertical-align: middle;
  transition: all 1.5s ease-in-out;
}
img:hover {
  transform: scale(1.2);
}
.loadImg {
  width: 110px;
}
input {
  height: 3em;
  width: 0;
  margin: 0 2em;
  border-radius: 4px;
  border: 1px solid lightgray;
  text-align: center;
  transition: width 1.5s ease;
}
.loadInput {
  width: 8em;
}
p {
  display: flex;
  justify-content: space-around;
}
button {
  background-color: white;
  border: 1px solid lightgray;
  padding: 1em 4em;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
  outline: none;
}
#btntotal:hover {
  color: white;
  background-color: #c030da;
}
#btnborrar:hover {
  color: white;
  background-color: #0b45c6;
}
span {
  margin: auto;
  width: 5em;
  font-size: 2em;
}

@media only screen and (max-width: 769px) {
  .loadCard {
    height: 52vh;
    width: 95vmin;
  }
  button {
    padding: 1em 2.5em !important;
  }
}
